@import '../../assets/styles/variables.scss';

.product-card {
  width: 23%;
  box-shadow: shadow(primary);
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  border-radius: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  p {
    margin-top: 8px;
    font-weight: 600;
    font-size: 17px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
  }
}
.TopNavBar {
  margin-left: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top:20px;
}
.btn {
    display: inline-block;
    font-weight: bold;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
   
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.topMenuBarHeader {
  background-color: white;
  margin-bottom: 15px
}
.borderBottom {
  border-Bottom: 1px solid rgba(0, 0, 0, 0.1);
  .categories {
    font-weight: bold;
    font-size:10px;
    margin-top: 16px;
  }
  .price {
    font-size:12px;
    font-weight: bold;
    margin-top:16px;
  }
  .clear {
    font-size:12px;
    font-weight: bold;
    margin-top:4px;
    float: right;
    color: #2874f0;

  }
  .singleCheckBox{
    margin: 16px;
}
}

.disabled {
  opacity : 0.7;
  pointer-events: none;
}
.searchbar {
  width:120px;
}
.searchKey {
  cursor: cell;
  display: block;
  &:hover {
    color:Blue;
  }
}