@import '../../assets/styles/variables.scss';

.product-card {
  width: 23%;
  box-shadow: shadow(primary);
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  p {
    margin-top: 8px;
    font-weight: 600;
    font-size: 17px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
}